<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<!-- 個別タイトル -->
<th:block layout:fragment="pageTitle">
<title th:text="${recipe.title + 'の作り方 | みかみごはん'}"></title>
</th:block>

<!-- 個別CSS -->
<th:block layout:fragment="pageStyles">
<link rel="stylesheet" th:href="@{/css/recipe/detail.css}">
</th:block>
 
<th:block layout:fragment="content">   
  <div class="container">
    <main>
      <!-- ファーストビュー -->
      <div>
        <!-- レシピ画像 -->
        <div class="recipe_detail_main_img">
          <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpeg'">
        </div>
        <!-- 料理名 -->
        <div class="recipe_name">
          <h1 th:text="${recipe.title}">料理名</h1>
        </div>
        <!-- タグ -->
        <div class="tag_names">
          <div class="tag_name"
            th:each="tagName, iterStat : ${recipe.tagNameList}"
            th:if="${tagName != null and tagName != ''}">
            <a th:href="'/search?tag=' + ${tagName}"
              th:text="'#' + ${tagName}">#タグ名</a>
          </div>
        </div>
      </div>

      <!-- 材料 -->
      <div class="contents">
        <div class="materials_head">
          <img alt="" src="/img/pot.png">
          <h2>材料</h2>
        </div>
        <div>
          <ul>
            <li th:each="material : ${recipe.materials}"
              th:text="${material.materialName}" class="material_name">材料名</li>
          </ul>
        </div>
      </div>

      <!-- メモ -->
      <div class="contents" th:if="${recipe.memo != null and recipe.memo != ''}">
        <div class="memo_head">
          <img alt="" src="/img/pen.png">
          <h2>memo</h2>
        </div>
        <div>
          <p th:text="${recipe.memo}">メモテキスト</p>
        </div>
      </div>

      <!-- 作り方 -->
      <div th:if="${recipe.howTo != null and recipe.howTo != ''}" class="contents">
        <div class="how_to_head">
          <img alt="" src="/img/nabe.png">
          <h2>作り方</h2>
        </div>

        <div th:each="howTo, iterStat : ${recipe.howTo.howToList}"
          th:if="${howTo != null and howTo != ''}" class="how_to_detail">
          <div>
            <img th:src="'/img/no/no' + ${iterStat.index + 1} + '.png'">
          </div>
          <div>
            <p th:text="${howTo}">作り方テキスト</p>
          </div>
        </div>
      </div>
    </main>
    <!-- サイドバー -->
    <aside>
      <!-- 検索 -->
      <div class="aside_content">
        <div>
          <h4>レシピ名・食材で検索</h4>
        </div>
        <div>
          <!-- 検索窓 -->
          <span th:insert="common/search_form::frag_search_form"></span>
        </div>
      </div>

      <!-- おすすめレシピ -->
      <div class="aside_content">
        <div>
          <h4>おすすめレシピ</h4>
        </div>
        <div>
          <ul class="aside_recommend_recipe_ul">
            <li class="aside_recommend_recipe_li" th:each="recipe : ${recommendRecipe}">
              <a th:href="@{/recipe/} + ${recipe.id}">
                <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpeg'">
                <span th:text="${recipe.title}">料理名</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</th:block>
</div>