<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<!-- 個別タイトル -->
<th:block layout:fragment="pageTitle">
<title th:if="${keyword != null and keyword != ''}" th:text="${keyword} + 'の検索結果 | みかみごはん'"></title>
<title th:if="${searchTags != null and searchTags != ''}" th:text="${searchTags} + 'の検索結果 | みかみごはん'"></title>
<title th:if="${(keyword == null or keyword == '') and (searchTags == null or searchTags == '')}">検索一覧 | みかみごはん</title>
</th:block>

<!-- 個別CSS -->
<th:block layout:fragment="pageStyles">
<link rel="stylesheet" th:href="@{/css/search/index.css}">
<link rel="stylesheet" th:href="@{/css/common/paging.css}">
</th:block>

<th:block layout:fragment="content">
  <div class="container">
    <main>
      <!-- 検索窓 -->
      <span th:insert="common/search_form::frag_search_form"></span>
      
      <!-- 検索キーワード -->
      <div th:if="${keyword != null and keyword != ''}">
        <p th:text="'「' + ${keyword} + '」の検索結果'"></p>
      </div>
      <div th:if="${searchTags != null and searchTags != ''}">
        <p th:text="'タグ名「' + ${searchTags} + '」の検索結果'"></p>
      </div>
      
      <div th:if="${searchRecipe.list.size() < 1}">
        <h1>お探しのレシピは見つかりませんでした</h1>
        <p><br>
        いつもご使用ありがとうございます。<br>
        検索していただいたキーワードのレシピは見つかりませんでした。<br>
        違う食材名かレシピ名、タグ名から検索してみてください。<br>
        レシピは随時更新中です！<br></p>
      </div>
      
      <!-- 検索結果 -->
      <div th:if="${searchRecipe.list.size() >= 1}">
        <ul class="search_recipe_ul">
          <li class="search_recipe_li" th:each="recipe : ${searchRecipe.list}">
            <a th:href="@{/recipe/} + ${recipe.id}">
              <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpg'"><span th:text="${recipe.title}">料理名</span>
            </a>
          </li>
        </ul>
      </div>
      
      <!-- ページング -->
      <div th:if="${searchRecipe.pages >= 1}">
        <div class="paging">
          <div th:if="${searchRecipe.hasPreviousPage and searchRecipe.pages > 2}" class="paging_column">
            <a th:href="@{|?page=1|}">&lt;&lt;</a>
          </div>
          <div th:if="${searchRecipe.hasPreviousPage}" class="paging_column">
            <a th:href="@{|?page=${searchRecipe.pageNum - 1}|}">&lt;</a>
          </div>
          <div th:each="i : ${#numbers.sequence(1, searchRecipe.pages)}" th:classappend="${i} == ${searchRecipe.pageNum} ? 'now' : ''" class="paging_column">
            <a th:href="@{|?page=${i}|}" th:text="${i}">1</a>
          </div>
          <div th:if="${searchRecipe.hasNextPage}" class="paging_column">
            <a th:href="@{|?page=${searchRecipe.pageNum + 1}|}">&gt;</a>
          </div>
          <div th:if="${searchRecipe.hasNextPage and searchRecipe.pages > 2}"  class="paging_column">
            <a th:href="@{|?page=${searchRecipe.navigateLastPage}|}">&gt;&gt;</a>
          </div>
          
        </div>
      </div>
    </main>
    
    <!-- サイドバー -->
    <aside>
    　　<!-- タグ検索 -->
      <div class="aside_content">
        <div>
          <h4>タグ検索もできます</h4>
        </div>
        <div class="tag_names">
          <div class="tag_name" th:each="tag : ${recommendTags}">
            <a th:href="'/search?tag=' + ${tag.tagName}" th:text="'#' + ${tag.tagName}"></a>
          </div>
        </div>
      </div>
      <!-- おすすめレシピ -->
      <div class="aside_content">
        <div>
          <h4>おすすめレシピ</h4>
        </div>
        <div>
          <ul class="aside_recommend_recipe_ul">
            <li class="aside_recommend_recipe_li" th:each="recipe : ${recommendRecipe}">
              <a th:href="@{/recipe/} + ${recipe.id}">
                <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpg'"><span th:text="${recipe.title}">料理名</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</th:block>
</div>
