<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" />
<title></title>
<!-- bootstrap CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/footer.css}">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/common/toTop.css}">
<link rel="stylesheet" th:href="@{/css/news/index.css}">
<link rel="stylesheet" th:href="@{/css/search/search.css}">
<link rel="stylesheet" th:href="@{/css/search/index.css}">
<link rel="stylesheet" th:href="@{/css/recipe/detail.css}">

<!-- Swiper -->
<link rel="stylesheet"
  th:href="@{/css/common/swiper/swiper-bundle.min.css}" />
<link rel="stylesheet" th:href="@{/css/common/swiper/swiper.css}" />

<!-- menu -->
<link rel="stylesheet" th:href="@{/css/common/jquery.fatNav.min.css}">
<!-- fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  rel="stylesheet">
<!-- slick -->
<link rel="stylesheet" th:href="@{css/slick/slick.css}">
<link rel="stylesheet" th:href="@{css/slick/slick-theme.css}">
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/b02fe1bd6e.js"
  crossorigin="anonymous"></script>
</head>

<body>
  <!-- 共通ヘッダー -->
  <span th:insert="common/header::frag_header"></span>
  <!-- SP 共通ヘッダー内ハンバーガーメニュー -->
  <span th:insert="common/menu_modal_sp.html::frag_menu_modal_sp"></span>
  
  <div class="container">
    <main>
      <!-- 検索窓 -->
      <form th:action="@{/search}" method="get" class="search-form">
        <div class="search-set head-search">
          <input name="keyword" type="text" placeholder="レシピ名・食材で検索" class="search-input">
          <button type="submit" class="search-submit">
            <img src="/img/search_icon.png" alt="検索" class="search-submit_img">
          </button>
        </div>
      </form>
      
      <!-- 検索結果 -->
      <div>
          <ul class="search_recipe_ul">
            <li class="search_recipe_li" th:each="recipe : ${searchRecipe}">
              <a th:href="@{/recipe/} + ${recipe.id}">
                <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpeg'"><span th:text="${recipe.title}">料理名</span>
              </a>
            </li>
          </ul>
        </div>
      
    </main>
    
    <!-- サイドバー -->
    <aside>
      
      <!-- おすすめレシピ -->
      <div class="aside_content">
        <div>
          <h4>おすすめレシピ</h4>
        </div>
        <div>
          <ul class="recommend_recipe_ul">
            <li class="recommend_recipe_li" th:each="recipe : ${recommendRecipe}">
              <a th:href="@{/recipe/} + ${recipe.id}">
                <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpeg'"><span th:text="${recipe.title}">料理名</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>

  <span th:insert="common/footer::frag_footer"></span>
  <!-- スライドショー -->
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script th:src="@{js/common/swiper.js}"></script>
  
  <!-- menu -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script th:src="@{/js/common/jquery.fatNav.min.js}"></script>
  <script th:src="@{/js/common/fatNav.js}"></script>
  <script src="https://kit.fontawesome.com/b02fe1bd6e.js" crossorigin="anonymous"></script>
  <!-- slick -->
  <script th:src="@{js/slick/slick.min.js}"></script>
  <script th:src="@{js/slick/slick.js}"></script>
  <script th:src="@{js/slick/custom.slick.js}"></script>
  <script th:src="@{js/common/header.js}"></script>
  <script th:src="@{js/common/totop.js}"></script>
</body>
</html>