@charset "utf-8";

.search_recipe_ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 0;
	font-size: 13px;
}

.search_recipe_li {
	width: 32%;
	padding-left: 10px;
}

.tag_names {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag_name a {
  padding: 7px 9px;
}

.tag_name {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 17px;
}

@media screen and (max-width: 990px) { /* 990px以下に適用されるCSS（スマホ用） */
}

@media screen and (max-width: 481px) { /* 481px以下に適用されるCSS（スマホ用） */
	.search_recipe_li {
		width: 49%;
	}
}