@charset "utf-8";

.search-set {
	text-align: center;
}

.search-input {
	margin: 15px 0;
	padding: 8px 15px;
	width: 70%;
}

.search-submit {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}

.search-submit_img {
	margin-left: 6px;
}

@media screen and (max-width: 990px) { /* 990px以下に適用されるCSS（スマホ用） */
}

@media screen and (max-width: 481px) { /* 481px以下に適用されるCSS（スマホ用） */
}