@charset "utf-8";

.news_contents {
	margin-bottom: 50px;
}

.top_img {
	position: relative;
}

.top_img p {
	position: absolute;
	color: #fff;
	top: 40px;
	text-align: center;
}

.top_img img {
	width: 100%;
}

.btn {
	text-align: center;
	display: block;
}

.btn .btn_link {
	color: #333;
	text-align: center;
	width: 200px;
	padding: 10px;
	border: solid;
	border-width: 2px;
	border-color: #999;
	border-radius: 40px;
	display: inline-block;
}

.news_list {
	margin-bottom: 40px;
}

.news_date {
	padding: 5px;
	font-size: 12px;
}

.news_topix {
	padding: 5px;
}

.news_list_detail {
	border-top: 1px dotted #9696a0;
	padding: 5px;
	margin: 5px;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

.news_list_detail_child {
	height: auto;
	padding: 10px 18px;
	margin: 5px -24px 0 0;
	display: flex; /* 高さを揃えるための指定 */
	flex-direction: column; /* 高さを揃えるための指定 */
	border: 1px solid #ccc;
	border-radius: 17px;
}

.news_header {
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
	position: relative;
	margin-bottom: 22px;
}

.news_head {
	font-size: 22px;
}

.news_more {
	font-size: 15px;
	margin-top: auto;
	margin-bottom: auto;
}

.popular_tag_head {
	position: absolute;
	top: 83%;
}

@media screen and (max-width: 990px) { /* 990px以下に適用されるCSS（スマホ用） */
}

@media screen and (max-width: 481px) { /* 481px以下に適用されるCSS（スマホ用） */
}