@charset "utf-8";

.flex-contauner {
	line-height: 27px;
}

@media screen and (min-width: 991px) { /* 991px以上に適用されるCSS（PC用） */
	.flex-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.flex-item {
		padding-bottom: 90px;
	}
	.about-img {
		width: 55%
	}
	.about-txt {
		width: 45%;
		padding: 0 20px;
		text-align: left;
	}
	.about-txt>h1 {
		font-size: 30px
	}
	.about-txt>p {
		padding-top: 20px;
	}
	.order-0 {
		order: 0;
	}
	.order-1 {
		order: 1;
	}
	.order-2 {
		order: 2;
	}
	.order-3 {
		order: 3;
	}
	.order-4 {
		order: 4;
	}
	.order-5 {
		order: 5;
	}
	.order-6 {
		order: 6;
	}
	.order-7 {
		order: 7;
	}
	.order-8 {
		order: 8;
	}
	.order-9 {
		order: 9;
	}
}

@media screen and (max-width: 990px) {
	/* 990px以下に適用されるCSS（スマホ用） */
	.about-txt {
		padding: 20px 0 50px;
	}
	.about-txt>p {
		padding-top: 11px;
		text-align: left;
	}
}

@media screen and (max-width: 481px) { /* 481px以下に適用されるCSS（スマホ用） */
}