<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.InquiryMapper">
<select id="getAllInquiryCategory" resultType="com.example.entity.InquiryCategory">
select * from inquiry_category order by id;
</select>

<select id="getAllOccupationCategory" resultType="com.example.entity.OccupationCategory">
select * from occupation_category order by id;
</select>

<insert id="insert" parameterType="com.example.entity.Inquiry">
insert into inquiry 
(user_name, furigana, dental_hospital_name, occupation_category_id, mail_address, zip_code, address, tel, fax, inquiry_category_id, contents)
values
(#{userName}, #{furigana}, #{dentalHospitalName}, #{occupationCategoryId}, #{mailAddress}, #{zipCode}, #{address}, #{tel}, #{fax}, #{inquiryCategoryId}, #{contents});
</insert>

</mapper>