<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.RecipeMapper">

<select id="getRecipeOrderByCreatedDateLimitFive" resultType="com.example.entity.Recipe">
select id, title from recipe where display_flg = true order by created_date DESC limit 5;
</select>

<select id="getRecommendRecipeOrderByCreatedDateLimitSix" resultType="com.example.entity.Recipe">
select id, title from recipe where display_flg = true and recommend_flg = true order by created_date DESC limit 6;
</select>

<select id="getRandomRecipeLimitSix" resultType="com.example.entity.Recipe">
select id, title from recipe where display_flg = true order by random() limit 6;
</select>

<resultMap id="detailRecieResultMap" type="com.example.entity.Recipe">
    <id property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="memo" column="memo"/>
    <result property="tag1" column="tag_1" />
    <result property="tag1Name" column="tag1_name"/>
    <result property="tag2" column="tag_2" />
    <result property="tag2Name" column="tag2_name"/>
    <result property="tag3" column="tag_3" />
    <result property="tag3Name" column="tag3_name"/>
    <result property="tag4" column="tag_4" />
    <result property="tag4Name" column="tag4_name"/>
    <result property="tag5" column="tag_5" />
    <result property="tag5Name" column="tag5_name"/>
    
    <association property="howTo" javaType="com.example.entity.HowTo">
      <result property="howToNo1" column="how_to_no1"/>
      <result property="howToNo2" column="how_to_no2"/>
      <result property="howToNo3" column="how_to_no3"/>
      <result property="howToNo4" column="how_to_no4"/>
      <result property="howToNo5" column="how_to_no5"/>
      <result property="howToNo6" column="how_to_no6"/>
      <result property="howToNo7" column="how_to_no7"/>
      <result property="howToNo8" column="how_to_no8"/>
      <result property="howToNo9" column="how_to_no9"/>
      <result property="howToNo10" column="how_to_no10"/>
    </association>
    
    <collection property="materials" ofType="com.example.entity.Material">
      <id property="id" column="matelial_id"/>
      <result property="materialName" column="material_name"/>
    </collection>
    
</resultMap>

<select id="getRecipeById" parameterType="int" resultMap="detailRecieResultMap">
select 
  r.id, 
  r.title, 
  r.memo, 
  t1.tag_name AS tag1_name, 
  t2.tag_name AS tag2_name, 
  t3.tag_name AS tag3_name, 
  t4.tag_name AS tag4_name, 
  t5.tag_name AS tag5_name,
  m.id AS matelial_id,
  m.material_name,
  h.how_to_no1, 
  h.how_to_no2, 
  h.how_to_no3, 
  h.how_to_no4, 
  h.how_to_no5, 
  h.how_to_no6, 
  h.how_to_no7, 
  h.how_to_no8, 
  h.how_to_no9, 
  h.how_to_no10 
from recipe r
left outer join tag t1 on r.tag_1 = t1.id 
left outer join tag t2 on r.tag_2 = t2.id 
left outer join tag t3 on r.tag_3 = t3.id 
left outer join tag t4 on r.tag_4 = t4.id 
left outer join tag t5 on r.tag_5 = t5.id 
left outer join material m on r.id = m.recipe_id
left outer join how_to h on r.id = h.recipe_id
where r.id = #{id}
and r.display_flg = true
order by m.sort_order
;
</select>

<select id="getRecipeLimitThirty" resultType="com.example.entity.Recipe">
select id, title from recipe where display_flg = true order by created_date DESC
</select>

<select id="searchByRecipeTitleOrMaterialName" resultType="com.example.entity.Recipe" parameterType="map">
select
  DISTINCT r.id,
  r.title,
  r.created_date
from recipe AS r
left join material AS m on r.id = m.recipe_id
where 
  r.display_flg = true
  <if test="keywords != null and keywords.size() > 0">
    AND (
      <foreach collection="keywords" item="keyword" separator=" OR ">
        r.title LIKE CONCAT('%', #{keyword}, '%')
      </foreach>
      OR
      <foreach collection="keywords" item="keyword" separator=" OR ">
        m.material_name LIKE CONCAT('%', #{keyword}, '%')
      </foreach>
    )
  </if>
order by r.created_date DESC
</select>

<select id="searchByTagName" resultType="com.example.entity.Recipe" parameterType="map">
select 
  r.id,
  r.title,
  r.created_date
from recipe r
left outer join tag t1 on r.tag_1 = t1.id and t1.display_flg = true
left outer join tag t2 on r.tag_2 = t2.id and t2.display_flg = true
left outer join tag t3 on r.tag_3 = t3.id and t3.display_flg = true
left outer join tag t4 on r.tag_4 = t4.id and t4.display_flg = true
left outer join tag t5 on r.tag_5 = t5.id and t5.display_flg = true
where 
  <foreach collection="tags" item="tag" separator=" OR ">
  t1.tag_name like CONCAT('%', #{tag}, '%')
  or t2.tag_name like CONCAT('%', #{tag}, '%')
  or t3.tag_name like CONCAT('%', #{tag}, '%')
  or t4.tag_name like CONCAT('%', #{tag}, '%')
  or t5.tag_name like CONCAT('%', #{tag}, '%')
  </foreach>
order by r.created_date DESC
</select>

</mapper>