<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.RecipeMapper">

<select id="getRecipeOrderByCreatedDateLimitFive" resultType="com.example.entity.Recipe">
select id, id_string, title from recipe where display_flg = true order by created_date DESC, id DESC limit 5;
</select>

<select id="getRecommendRecipeOrderByCreatedDateLimitSix" resultType="com.example.entity.Recipe">
select id, id_string, title from recipe where display_flg = true and recommend_flg = true order by created_date DESC limit 6;
</select>

<select id="getRandomRecipeLimitSix" resultType="com.example.entity.Recipe">
select id, id_string, title from recipe where display_flg = true order by random() limit 6;
</select>

<select id="getRandomRecipeLimitTwelve" resultType="com.example.entity.Recipe">
select id, id_string, title from recipe where display_flg = true order by random() limit 12;
</select>


<resultMap id="detailRecieResultMap" type="com.example.entity.Recipe">
    <id property="id" column="id"/>
    <result property="idString" column="id_string"/>
    <result property="title" column="title"/>
    <result property="memo" column="memo"/>
    <result property="createdDate" column="created_date"/>
    
    <association property="howTo" javaType="com.example.entity.HowTo">
      <result property="howToNo1" column="how_to_no1"/>
      <result property="howToNo2" column="how_to_no2"/>
      <result property="howToNo3" column="how_to_no3"/>
      <result property="howToNo4" column="how_to_no4"/>
      <result property="howToNo5" column="how_to_no5"/>
      <result property="howToNo6" column="how_to_no6"/>
      <result property="howToNo7" column="how_to_no7"/>
      <result property="howToNo8" column="how_to_no8"/>
      <result property="howToNo9" column="how_to_no9"/>
      <result property="howToNo10" column="how_to_no10"/>
    </association>
    
    
    <association property="meta" javaType="com.example.entity.Meta">
      <result property="description" column="description"/>
    </association>
    
    <collection property="tag1" ofType="com.example.entity.Tag1" javaType="java.util.ArrayList">
      <id property="id" column="tag1_id"/>
      <result property="tag1Name" column="tag1_name"/>
    </collection>
    
    <collection property="tag2" ofType="com.example.entity.Tag2" javaType="java.util.ArrayList">
        <id property="id" column="tag2_id"/>
        <result property="tag2Name" column="tag2_name"/>
    </collection>
    
    <collection property="materials" ofType="com.example.entity.Material">
      <id property="id" column="matelial_id"/>
      <result property="materialName" column="material_name"/>
    </collection>
    
</resultMap>

<select id="getRecipeById" parameterType="String" resultMap="detailRecieResultMap">
select 
  r.id, 
  r.id_string,
  r.title, 
  r.memo, 
  r.created_date,
  t1.id AS tag1_id,
  t1.tag1_name,
  t2.id AS tag2_id,
  t2.tag2_name,
  m.id AS matelial_id,
  m.material_name,
  h.how_to_no1, 
  h.how_to_no2, 
  h.how_to_no3, 
  h.how_to_no4, 
  h.how_to_no5, 
  h.how_to_no6, 
  h.how_to_no7, 
  h.how_to_no8, 
  h.how_to_no9, 
  h.how_to_no10,
  me.description
from recipe r
left outer join recipe_tag rt on r.id = rt.recipe_id
left outer join tag1 t1 on rt.tag1_id = t1.id
left outer join recipe_tag2 rt2 on r.id = rt2.recipe_id
left outer join tag2 t2 on rt2.tag2_id = t2.id
left outer join material m on r.id = m.recipe_id
left outer join how_to h on r.id = h.recipe_id
left outer join meta me on r.id = me.recipe_id
where r.id_string = #{idString}
and r.display_flg = true
order by 
  m.sort_order, t1.sort_order, t2.sort_order 
;
</select>

<select id="getRecipeLimitThirty" resultType="com.example.entity.Recipe">
select id, id_string, title from recipe where display_flg = true order by created_date DESC
</select>

<select id="searchByRecipeTitleOrMaterialName" resultType="com.example.entity.Recipe" parameterType="map">
select
  DISTINCT r.id,
  r.id_string,
  r.title,
  r.created_date
from recipe AS r
left join material AS m on r.id = m.recipe_id
where 
  r.display_flg = true
  <if test="keywords != null and keywords.size() > 0">
    AND (
      <foreach collection="keywords" item="keyword" separator=" OR ">
        r.title LIKE CONCAT('%', #{keyword}, '%')
      </foreach>
      OR
      <foreach collection="keywords" item="keyword" separator=" OR ">
        m.material_name LIKE CONCAT('%', #{keyword}, '%')
      </foreach>
    )
  </if>
order by r.created_date DESC
</select>

<select id="searchByTagName" resultType="com.example.entity.Recipe" parameterType="map">
select 
  DISTINCT r.id,
  r.id_string,
  r.title,
  r.created_date
from recipe r
left outer join recipe_tag rt on r.id = rt.recipe_id
left outer join tag1 t1 on rt.tag1_id = t1.id
left outer join recipe_tag2 rt2 on r.id = rt2.recipe_id
left outer join tag2 t2 on rt2.tag2_id = t2.id
where 
  <foreach collection="tags" item="tag" separator=" OR ">
  t1.tag1_name like CONCAT('%', #{tag}, '%')
  or t2.tag2_name like CONCAT('%', #{tag}, '%')
  </foreach>
order by r.created_date DESC
</select>

</mapper>