<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.TagMapper">
<select id="getTopTenTags" resultType="com.example.entity.Tag1">
SELECT
  t1.id,
  t1.tag1_name
FROM tag1 t1
LEFT OUTER JOIN recipe_tag rt ON t1.id = rt.tag1_id
GROUP BY rt.tag1_id, t1.id, t1.tag1_name
ORDER BY count(rt.tag1_id) DESC
LIMIT 12;
</select>

<select id="getTag1NoUsed" resultType="Integer">
select 
  t1.id
from tag1 t1
where not EXISTS(
  select 
  rt.tag1_id
  from recipe_tag rt
  where rt.tag1_id = t1.id
)
</select>

<update id="updateAllTag1DisplayTrue">
  UPDATE tag1
  SET display_flg = true;
</update>

<update id="updateTag1Display">
  UPDATE tag1
  SET display_flg = false
  WHERE id IN
  <foreach collection="tag1NoUsedIds" item="id" open="(" separator="," close=")">
    #{id}
  </foreach>
</update>

<select id="getTag2NoUsed" resultType="Integer">
select 
  t2.id
from tag2 t2
where not EXISTS(
  select 
  rt.tag2_id
  from recipe_tag2 rt
  where rt.tag2_id = t2.id
)
</select>

<update id="updateAllTag2DisplayTrue">
  UPDATE tag2
  SET display_flg = true;
</update>

<update id="updateTag2Display">
  UPDATE tag2
  SET display_flg = false
  WHERE id IN
  <foreach collection="tag2NoUsedIds" item="id" open="(" separator="," close=")">
    #{id}
  </foreach>
</update>

</mapper>