@charset "UTF-8";

.inquiry_item {
	font-weight: bold;
	font-size: 16px;
}

.inquiry_items_contents {
	margin-left: 150px;
	margin-right: 150px;
	text-align: left;
}

.confir_btn.back{
	background-color: #D2E6FF;
}

.confir_btn.submit{
  background-color: #919191;
  color: #fff;
}

@media screen and (max-width: 990px) {
	/* 990px以下に適用されるCSS（スマホ用） */
	.about-txt {
		padding: 20px 0 50px;
	}
	.about-txt>p {
		padding-top: 11px;
		text-align: left;
	}
	.inquiry_items_contents {
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media screen and (max-width: 481px) {
	/* 481px以下に適用されるCSS（スマホ用） */
	.inquiry_items_contents {
		margin-left: 50px;
		margin-right: 50px;
	}
}