@charset "UTF-8";

.contents {
	text-align: center;
}

.top_contents {
	margin: 30px 30px 50px;
}

h2 {
	font-size: 24px;
}

.se_contents {
	margin: 100px 30px;
}

.tel_table {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	line-height: 1.75;
	margin-top: 24px;
	margin-bottom: 0;
}

.tel_table .tel_table_con {
	display: flex;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 3%;
	flex-wrap: nowrap;
}

.tel_table_con {
	display: flex;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 3%;
	flex-wrap: nowrap;
}

.tel_table_con dt {
	margin: auto;
	font-size: 15px;
}

.tel_table_con dd a {
	margin: auto;
	font-size: 15px;
}

.form_contents {
	background-color: #f7f7f7;
	border-radius: 30px;
	margin: 100px 0 70px;
}

.th_head {
	padding: 40px;
}

.frm_tbl {
	text-align: center;
	margin: auto;
	width: 80%;
}

td {
	text-align: left;
	padding: 20px;
}

th {
	text-align: left;
}

input, select, textarea {
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 4px;
	display: block;
	width: 100%;
	margin: 0;
	padding: 3px;
	line-height: 2;
}

.confir_btn_contents .confir_btn {
	width: 30%;
	margin: 15px;
	padding: 6px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
}

.confir_btn_contents {
	padding: 30px 0;
}

.fa-asterisk {
	padding: 10px;
	color: #EF4123;
	font-size: 10px;
}

.frm_error {
	color: #E83929;
}

.flex {
	display: flex;
}

.frm_btn_contents .confir_btn {
	margin: 15px;
	padding: 6px;
	text-align: center;
	border-radius: 10px;
}

.confir_btn {
	padding: 15px;
	margin: 10px;
	text-align: center;
	margin: auto;
}

.frm_btn_contents {
	text-align: center;
	margin: auto;
}

.frm_btn_contener {
	margin: 0 50px;
}

td p {
	margin: auto;
}

.btn.in_h_btn {
	margin-bottom: 50px;
}

.inq_comp_txt {
	margin: 20px 0;
}

.conf_mail {
	margin: auto;
	font-weight: 500;
}

.conf_mail span {
	font-weight: bold;
}

@media screen and (max-width: 990px) {
	/* 990px以下に適用されるCSS（スマホ用） */
	.frm_tbl {
		width: 95%;
	}
	.th_head {
		padding: 30px 20px;
	}
}