@charset "utf-8";

ul {
	list-style: none;
}

.detail-img {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.detail-img>img {
	width: 50%;
	justify-content: center;
	padding: 1%;
}

p {
	line-height: 27px;
}

.detail-head {
	border-bottom: 1px solid #000;
	padding-bottom: 17px;
}

@media screen and (min-width: 991px) { /* 991px以上に適用されるCSS（PC用） */
	.anchor {
		margin-bottom: 55px;
	}
	.anchor-ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 20px;
	}
	.anchor-li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 33%;
		margin: 6.5px 0;
	}
	.anchor-content {
		height: 100%;
	}
	.anchor-content>dl {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.anchor-content dd {
		height: 100%;
		position: relative;
		margin: 0 5px;
	}
	.anchor-detail {
		height: 76px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 10px;
		border: solid 2px #ccc;
		box-sizing: border-box;
	}
	.anchor-text {
		margin-right: 26px;
	}
	.anchor-text>p {
		margin: 5px;
	}
	.anchor-icon {
		position: absolute;
		right: 15px;
		margin: auto 0;
		top: 0;
		bottom: 0;
		height: 2em;
	}
	.anchor-icon>.fa-chevron-down {
		color: red;
		width: 16px;
		height: 24px;
		font-weight: 900;
	}
	.detail-txt {
		margin: 20px 0 110px;
	}
}

@media screen and (max-width: 990px) { 
  /* 990px以下に適用されるCSS（スマホ用） */
  .anchor-ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .anchor-li {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .anchor-content {
    height: 100%;
  }
  .anchor-content>dl {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .anchor-content dd {
    height: 100%;
    position: relative;
    margin: 0 3.5px 7px;
  }
  .anchor-detail {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    border: solid 1px #ccc;
    box-sizing: border-box;
  }
  .anchor-text {
    line-height: 1.2;
    margin-right: 20px;
    font-size: .8rem;
  }
  .anchor-text>p {
    margin: 5px;
    font-size: 12px;
    line-height: 1.25;
  }
  .anchor-icon {
    position: absolute;
    right: 5px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    height: 2em;
  }
  .anchor-icon>.fa-chevron-down {
    color: red;
    width: 19px;
    height: 30px;
    font-weight: 900;
    font-size: 12px;
  }
  .detail-txt {
    margin: 20px 0 60px;
  }
}

@media screen and (max-width: 481px) { /* 481px以下に適用されるCSS（スマホ用） */
}