<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout_error}">

<th:block layout:fragment="content">
  <div class="container">
    <div class="contents">
      <!-- menu -->
      <span th:insert="common/menu_modal_sp.html::frag_menu_modal_sp"></span>

      <div class="error_contents">
        <h1 class="error_content">システムエラーが発生しました。</h1>
        <img class="error_content" src="/img/sorry.png" alt="sorry" >
        <p class="error_content">
          ただいまシステムに不具合が発生しています。<br>
          恐れ入りますが、しばらくしてから再度お試しください。<br>
        </p>
      </div>
      
      <div class="error_contents">
        <div class="btn in_h_btn">
          <a class="btn_link" th:href="@{/}"><i class="fas fa-home"></i>HOME</a>
        </div>
      </div>
    </div>
  </div>
</th:block>
</div>
