@charset "UTF-8";

#global_menu {
	position: absolute;
	right: 37px;
	top: 15px;
}

.header_contener {
	font-size: 15px;
	background: #414620;
	height: 110px;
	margin-bottom: 4px;
}

.header_contener.is-show {
	font-size: 15px;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(240, 240, 240, 0.5);
}

.header_logo {
	height: 100%;
	padding: 10px 10px 10px 30px;
}

@media screen and (max-width: 990px) { /* 990px以下に適用されるCSS（スマホ用） */
}

@media screen and (max-width: 481px) {
	/* 481px以下に適用されるCSS（スマホ用） */
	.header_logo {
  height: 100%;
  padding: 12px 10px 2px 15px;
}
}