<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<!-- 個別タイトル -->
<th:block layout:fragment="pageTitle">
<title>みかみごはん</title>
</th:block>

<!-- 個別CSS -->
<th:block layout:fragment="pageStyles">
<link rel="stylesheet" th:href="@{/css/top/top.css}">
</th:block>


<th:block layout:fragment="content">
  
  <!-- 検索窓 -->
  <span th:insert="common/search_form::frag_search_form"></span>
  
  <!-- TOPスワイパー 新着レシピ -->
  <div class="swiper">
    <div class="swiper-wrapper">
     <div class="swiper-slide" th:each="recipe : ${recentlyRecipes}">
       <a th:href="@{/recipe/} + ${recipe.id}">
         <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpeg'">
         <p th:text="${recipe.title}"></p>
       </a>
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="container">
    <main>
    <!-- 人気のタグ一覧 -->
    <div>
      <div class="tag_header">
        <div class="tag_head">
          <img class="popular_tag_head" alt="" src="/img/flg_icon.png" style="left: 8px">
          <p class="popular_tag_head">人気のタグ一覧</p>
        </div>
        <div>
          <img alt="" src="/img/what_should_we_have_today.png">
        </div>
      </div>
      <div class="tag_contents">
        <div class="tag_list">
          <div class="tag_list_detail" >
          　　<div class="tag_list_detail_child" th:each="tag : ${popularTags}">
              <a th:href="'/search?tag=' + ${tag.tagName}" th:text="${tag.tagName}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- おすすめレシピ -->
    <div class="content">
      <div class="recommend_recipe_header">
        <img src="/img/fork_knife.png" >
        <p>おすすめレシピ<p>
      </div>
      <div>
        <ul class="recommend_recipe_ul">
          <li class="recommend_recipe_li" th:each="recipe : ${recommendRecipe}">
            <a th:href="@{/recipe/} + ${recipe.id}">
              <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpeg'"><span th:text="${recipe.title}">料理名</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="btn">
        <a class="btn_link" th:href="@{/search}"> 検索一覧 <i class="fas fa-long-arrow-alt-right"></i>
        </a>
      </div>
    </div>
    
    </main>
    <aside>
      <!-- 検索 -->
      <div class="aside_content">
        <div>
          <h4>レシピ名・食材で検索</h4>
        </div>
        <div>
          <!-- 検索窓 -->
          <span th:insert="common/search_form::frag_search_form"></span>
        </div>
      </div>
    </aside>
    </div>
  </th:block>
</div>
