<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" />
<title>お問い合わせ確認｜三上デンタルラボラトリー</title>
<!-- bootstrap CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/top.css}">
<link rel="stylesheet" th:href="@{/css/common/footer.css}">
<link rel="stylesheet" th:href="@{/css/common/header.css}">
<link rel="stylesheet" th:href="@{/css/inquiry/confirm.css}">

<!-- Swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

<!-- menu -->
<link rel="stylesheet" th:href="@{/css/common/jquery.fatNav.min.css}">

<!-- fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/common/style.css}">
<link rel="stylesheet" th:href="@{/css/inquiry/style.css}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
<script src="https://kit.fontawesome.com/b02fe1bd6e.js" crossorigin="anonymous"></script>

<body>
    <span th:insert="common/header::frag_header"></span>
    <div class="container">
    <div class="contents">
    <!-- menu -->
    <span th:insert="common/menu_modal_sp.html::frag_menu_modal_sp"></span>
    <div class="top_img">
      <img alt="" th:src="@{/img/Inquiry-ic.jpg}">
    </div>

    <div class="form_contents">
      <div class="th_head">
        <h2>お問い合わせ内容 確認</h2>
      </div>
      <div class="inquiry_items_contents">
        <form th:action="@{/inquiry/complete}" method="post" th:object="${inquiryForm}">
                  <div class="inquiry_item">■お名前</div>
                  <p th:text="*{userName}"></p>
                  <input name="userName" type="hidden" th:field="*{userName}">
                  <div class="inquiry_item">■ふりがな</div>
                  <p th:text="*{furigana}"></p>
                  <input name="furigana" type="hidden" th:field="*{furigana}">
                  <div class="inquiry_item">■歯科医院名（貴社名）</div>
                  <p th:text="${#strings.isEmpty(dentalHospitalName) ? '記載なし' : dentalHospitalName}"></p>
                  <input name="dentalHospitalName" type="hidden" th:field="*{dentalHospitalName}">
                  <div class="inquiry_item">■ご職業</div>
                  <p th:text="*{occupationCategoryName}"></p>
                  <input name="occupationCategoryId" type="hidden" th:field="*{occupationCategoryId}">
                  <input name="occupationCategoryName" type="hidden" th:field="*{occupationCategoryName}">
                  <div class="inquiry_item">■メールアドレス</div>
                  <p th:text="*{mailAddress}"></p>
                  <input name="mailAddress" type="hidden" th:field="*{mailAddress}">
                  <div class="inquiry_item">■電話番号</div>
                  <p th:text="${#strings.isEmpty(tel) ? '記載なし' : tel}"></p>
                  <input name="tel" type="hidden" th:field="*{tel}">
                  <div class="inquiry_item">■FAX番号</div>
                  <p th:text="${#strings.isEmpty(fax) ? '記載なし' : fax}"></p>
                  <input name="fax" type="hidden" th:field="*{fax}">
                  <div class="inquiry_item">■郵便番号</div>
                  <p th:text="${#strings.isEmpty(zipCode) ? '記載なし' : zipCode}"></p>
                  <input name="zipCode" type="hidden" th:field="*{zipCode}">
                  <div class="inquiry_item">■住所</div>
                  <p th:text="${#strings.isEmpty(address) ? '記載なし' : address}"></p>
                  <input name="address" type="hidden" th:field="*{address}">
                  <div class="inquiry_item">■お問い合わせ内容</div>
                  <p th:text="*{inquiryCategoryName}"></p>
                  <input name="inquiryCategoryId" type="hidden" th:field="*{inquiryCategoryId}">
                  <input name="inquiryCategoryName" type="hidden" th:field="*{inquiryCategoryName}">
                  <div class="inquiry_item">■お問い合わせ詳細</div>
                  <p th:text="*{contents}" style="white-space: pre-line;"></p>
                  <input name="contents" type="hidden" th:field="*{contents}">
          <div class="flex frm_btn_contener">
            <div class="frm_btn_contents">
              <input class="confir_btn back" type="button" onclick=history.back() value="戻る">
            </div>
            <div class="frm_btn_contents">
              <input class="confir_btn submit" type="submit" value="送信する">
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script th:src="@{js/common/header.js}"></script>
</body>
</html>