<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<!-- 個別metaデータ -->
<th:block layout:fragment="pageMeta">
<meta property="og:title" content="サイトについて | みかみごはん" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mikami-gohan.com/about" />
<meta property="og:image" content="https://mikami-gohan.com/img/thankyou.png" />
<meta property="og:description" content="みかみごはんのサイトについて" />
<meta property="og:site_name" content="みかみごはん" />
<meta property="og:locale" content="ja_JP" />
</th:block>

<!-- 個別タイトル -->
<th:block layout:fragment="pageTitle">
<title>サイトについて | みかみごはん</title>
</th:block>

<!-- 個別CSS -->
<th:block layout:fragment="pageStyles">
<link rel="stylesheet" th:href="@{/css/about/index.css}">
</th:block>

<th:block layout:fragment="content">
  <div class="container">
    <main>
      <!-- ファーストビュー -->
      <div>
        <div>
          <h1>本サイトに訪問いただき、<br>ありがとうございます。</h1>
        </div>
        <div class="thankyou_img">
          <img alt="" src="/img/thankyou.png">      
        </div>
      </div>
      
      <!-- 管理人について -->
      <div>
        <div class="head">
          <img alt="" src="/img/flour.png">
          <h2>管理人について</h2>
        </div>
        <div>
          <p>管理人のみかみです。<br>
          普段から料理をよくするので、
          自分専用のレシピサイトがほしくて開設しました。</p>
        </div>
      </div>
      
      <!-- 本サイトについて -->
      <div>
        <div class="head">
          <img alt="" src="/img/flour.png">
          <h2>本サイトについて</h2>
        </div>
        <div>
          <p>このサイトは誰でもレシピの検索、閲覧ができます。<br>
          ご自由にお使いください。<br><br>
          ※適宜改修、更新をしていきます。
          </p>
        </div>
      </div>
      
      <!-- 注意事項 -->
      <div>
        <div class="head">
          <img alt="" src="/img/flour.png">
          <h2>注意事項</h2>
        </div>
        <div>
          <p>
          管理人はズボラなので、材料や調味料の計量をしません。<br>
          ですので、このサイトでも計量についての記載はしておりません。<br><br>
          濃い目の味が好きな方、薄めの味が好きな方、<br>
          大人数用、少人数用作りたい方、<br>
          それぞれの好みやシチュエーションに合わせて<br>
          いい意味でテキトーに作ってみてください。
          </p>
        </div>
      </div>
      
      <!-- SNS -->
      <div>
        <div class="head">
          <img alt="" src="/img/flour.png">
          <h2>SNS</h2>
        </div>
        <div>
          <p>SNSも随時更新中です。</p>
          <a href="https://www.instagram.com/mkm_gohan_" target="__blank">
            <img alt="" src="/img/instagram_log.png">
          </a>
        </div>
      </div>
      
      <!-- 推奨環境 -->
      <div>
        <div class="head">
          <img alt="" src="/img/flour.png">
          <h2>推奨環境</h2>
        </div>
        <div>
          <p>本サイトの推奨環境は、以下の通りとなっております。<br><br>
          推奨環境以外ではデザインが崩れたり、一部機能が正常に動作しないことがあります。<br>
          ※各バージョンごとの動作確認は行っておりませんので、ご使用いただけない場合はキャッシュ削除をお試しください。<br><br>
          ■ブラウザ環境<br>
          ブラウザ：Chrome 最新版<br><br>
          ■JavaScript<br>
          当サイトではJavaScriptを使用しております。JavaScriptが「有効」になっていることをご確認ください。
          </p>
        </div>
      </div>
    </main>
    
    <!-- サイドバー -->
    <aside>
      <!-- 検索 -->
      <div class="aside_content">
        <div>
          <h4>レシピ名・食材で検索</h4>
        </div>
        <div>
          <!-- 検索窓 -->
          <span th:insert="common/search_form::frag_search_form"></span>
        </div>
      </div>

      <!-- おすすめレシピ -->
      <div class="aside_content">
        <div>
          <h4>おすすめレシピ</h4>
        </div>
        <div>
          <ul class="aside_recommend_recipe_ul">
            <li class="aside_recommend_recipe_li" th:each="recipe : ${recommendRecipe}">
              <a th:href="@{/recipe/} + ${recipe.id}">
                <img alt="" th:src="@{/img/recipe/} + ${recipe.id} + '.jpg'">
                <span th:text="${recipe.title}">料理名</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</th:block>
</div>